<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Someone has posted a new comment on one of your routes.  Follow the link below to view:</p>
		
		<%= link_to 'New Comment', :controller => :routes, :action => :show, :id => @route.id %>

<br />
<br />
		<p>Thank you,</p>
		<p><em>Climb On!</em></p>
  </body>
</html>