<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>Name: <%= @suggestion.name %></p>

    <p>Email: <%= @suggestion.email %></p>

    <p>Message: <%= @suggestion.message %></p>
   
  </body>
</html>