<% if user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to <em>Climb On!</em></h1>
			<p>
				You can now post photos for everyone to see, comment on other people's photos and keep track of your personal tick list!
			</p> 
	</div>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to <em>Climb On!</em></h1>
			<p>
				Keep track of your projects and accomplishments, and share your progress with your friends!
			</p> 
			<p>                                                                                          		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
	</div>
<% end %>