<% if user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to <em>Climb On!</em></h1>
			<p>
				You can now post photos for everyone to see, comment on other people's photos and keep track of your personal tick list!
			</p> 
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52261dee6e8f3269"></script>
<!-- AddThis Button END -->
	</div>

<% else %>
	<div class="hero-unit">
		<h1>Welcome to <em>Climb On!</em></h1>
			<p>
				Keep track of your projects and accomplishments, and share your progress with your friends!
			</p> 
			<p>                                                                                          		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52261dee6e8f3269"></script>
<!-- AddThis Button END -->
	</div>
<% end %>