<div class="hero-unit">
	<h1> About</h1>
	<br>
	<div class="row">
		<div class="span8">
			<p>
				Use your tick list to keep track of your projects and post pictures of your accomplishments to share your favorite routes with others.
			</p>
		</div>
	</div>
</div>

<div class="well">
	<%= image_tag("ticklist.JPG") %>
	<br>
</div>
