<div class="hero-unit">
	<h1> About </h1>
	
	<div class="row">
		<div class="span8">
			<ul>
			<li>Use your tick list to keep track of your projects </li>
			<li>Post pictures of your accomplishments and share your favorite routes with 		others</li>
			<li>Comment on your friend's photos</li>
			</ul>
		</div>
	</div>
</div>

<div class="well">
	<%= image_tag("ticklist.JPG") %>
	<br/>
	<br/>
	<%= image_tag("Show.JPG") %>

	<br/>
</div>
