<h1>Tick List</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Grade</th>
      <th>Description</th>
      <th>Climbed?</th>
    </tr>
  </thead>
    
    <tbody>
      <%= render @to_dos %>
    </tbody>
  </table>

  <br />

<%= will_paginate @to_dos %>