<h1>Routes Sent</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Date</th>
      <th>Grade</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<br />

<%= link_to 'New Route', new_route_path %>
