
$textColor: blue;
$navbarLinkColor: blueDark;

$btnPrimaryBackground: orange;
@import 'bootstrap';



body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}