
$textColor: blue;
$navbarLinkColor: blueDark;
$btnPrimaryBackground: orange;

@import 'bootstrap';
body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';


.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	position: relative;
	margin-top: -300px;
	height: 300px;
	clear:both;
	padding-top: 100px;
	color: $grayLight;
	}

.hero-unit {
  background-image: url('Climbing.jpg');
  background-position: right;
  padding: 10px;
  margin-bottom: 10px;  
  background-repeat: no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.well {
	text-align: center;
	background-color: rgb(217,238,235);
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  p{
		color: $gray;
	}
}

.push {
height: 50em;
}

#main {
  overflow:auto;
  padding-bottom:300px; /* this needs to be bigger than footer height*/
}

/* Required for jQueryMasonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}